<div class="container">
  <div>
  <%= flash[:notice] %>
  </div>
  <div class="row pt-4">
   <div class="col-md-3 offset-md-2">
   <div class="post_search">
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    
    <%= f.text_field :search, class: 'form-control', placeholder: "キーワード検索"  %>
    <%= f.submit "検索" %>
  <% end %>
   
</div>
</div>
<div class="col-md-5">
<div class="area_search">
  <%= form_with url: area_path, method: :get, local: true do |f| %>
  <%= f.select :area, Institution.areas.keys.map {|k| [I18n.t("enums.institution.area.#{k}"), k]}, { include_blank: "選択してください"  }, class: "mb-3 sm:mb-0 mr-9 border border-line-200 rounded-[3px] rounded-[3px] py-3 pl-6 w-52 h-12 font-bold" %>
  <%= f.submit "エリア検索" %>
  
  <% end %>
</div>
</div>
      
      <div class="col-md-11">
        <h2>サウナ一覧</h2>
        <table class="table">
            <thead>
                <th></th>
                <th>サウナ名</th>
                <th>エリア</th>
                <th clospan="3"></th>
            </thead>
            <% @institutions.each do |institution| %>
          <tbody>
              <td>
                  <%= link_to admin_institution_path(institution.id) do %>
                  <% if institution.images.attached? %>
                   <%= image_tag institution.images.first, size: "120x120" %>
                  <% else %>
                   <%= image_tag 'no.images', size: "120x120" %>
                  <% end %>   
                  <% end %>
              </td>
              <td>
            <%= link_to admin_institution_path(institution.id) do %>
              <%= institution.name %>
                <% end %>
                <h3><span id="star-rate-<%= institution.id %>"></span>
              <script>
                var elm = document.getElementById("star-rate-<%= institution.id %>")
                $("#star-rate-<%= institution.id %>").empty();
                var opt = {
                  size: 36,
                  starOff: "<%= asset_path('star-off.png') %>",
                  starOn: "<%= asset_path('star-on.png') %>",
                  starHalf: "<%= asset_path('star-half.png') %>",
                  half: true,   
                  readOnly: true,   
                  score: <%= institution.reviews.average(:star).to_f.round(1) %>   
                }
                 raty(elm, opt);
              </script>
              <%= institution.reviews.average(:star).to_f.round(1) %>
            </h3>
            <i class="far fa-comment"></i><%= institution.reviews.count %>人　
            <i class="far fa-bookmark"></i><%= institution.bookmarks.count %>人
            
              </td>    
                  <td>
                    
                    <%= Institution.areas_i18n[institution.area] %>
            
                  </td>
                  <% end %>
          </tbody>          
        </table>
      </div>
  </div>
</div>
