<div class="container">
  <div class="row pt-4">
   <div class="col-md-3 offset-md-2">
   <div class="post_search">
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <div>
    <%= f.text_field :search, class: 'form-control', placeholder: "キーワード検索"  %>
    <%= f.submit "検索", class: "btn btn-primary" %>
  <% end %>
   </div>
</div>
</div>
<div class="col-md-5">
<div class="area_search">
  <%= form_with url: area_path, method: :get, local: true do |f| %>
  <%= f.select :area, Institution.areas.keys.map {|k| [I18n.t("enums.institution.area.#{k}"), k]}, { include_blank: "選択してください"  }, class: "mb-3 sm:mb-0 mr-9 border border-line-200 rounded-[3px] rounded-[3px] py-3 pl-6 w-52 h-12 font-bold" %>
  <%= f.button :type => "submit" do %>
  <% end %>
  <% end %>
</div>
</div>
      
      <div class="col-md-8 offset-md-1">
        <h2>施設</h2>
        <table class="table">
            <thead>
                <th></th>
                <th>施設名</th>
                <th>エリア</th>
                <th clospan="3"></th>
            </thead>
            <% @institutions.each do |institution| %>
          <tbody>
              <td>
                  <%= link_to institution_path(institution.id) do %>
                  <% if institution.images.attached? %>
                   <%= image_tag institution.images.first, size: "120x120" %>
                  <% else %>
                   <%= image_tag 'no_image', size: "120x120" %>
                  <% end %>   
                  <% end %>
              </td>
              <td>
            <%= link_to institution_path(institution.id) do %>
              <%= institution.name %>
                <% end %>
              </td>    
                  <td>
                    <%= Institution.areas_i18n[institution.area] %>
                  </td>
                  <% end %>
          </tbody>          
        </table>
      </div>
  </div>
</div>
