<!DOCTYPE html>
<html>
  <head>
    <title>Saunavi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
    <h2><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></h2>
    
    <% else %>
    <h2><%= link_to "ログイン", new_user_session_path %></h2>
    <h2><%= link_to "新規登録", new_user_registration_path %></h2>
    
    <% end %>
    
    
    <%= yield %>
  </body>
</html>
