<!DOCTYPE html>
<html>
  <head>
    <title>Saunavi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <header>
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
      <div class="container"> <a class="navbar-brand" href="/">
        <span>さうなび</span></a>  
   
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
    <% if user_signed_in? %>         
              <li>
                <%= link_to new_institution_path, class: "nav-link text-light"  do %><i class="fas fa-plus"></i>施設登録
                  <% end %>
              </li>
              
              <li>
                <%= link_to institutions_path, class: "nav-link text-light"  do %> <i class="fas fa-fire"></i>サウナ一覧
                  <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, class: "nav-link text-light", method: :delete do %><i class="fas fa-sign-out-alt"></i>ログアウト
                  <% end %>
              </li>
              <li>
                <%= link_to user_path(current_user.id), class: "nav-link text-light"  do %> <%= image_tag current_user.get_profile_image(30,30), class: "rounded-circle" %>
                  <% end %>
              </li>
  <% elsif admin_signed_in? %>
    <li><%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete %></li>
    
  <% else %>
              <li>
                <%= link_to institutions_path, class: "nav-link text-light"  do %> <i class="fas fa-fire"></i>サウナ一覧
                  <% end %>
              </li>
              <li>
                <%= link_to about_path, class: "nav-link text-light"  do %> <i class="fas fa-link"></i>さうなびとは
                  <% end %>
              </li>
              <li>
                <%= link_to new_user_registration_path, class: "nav-link text-light"  do %><i class="fas fa-user-plus"></i>新規登録
                  <% end %>
              </li>
              <li>
                <%= link_to new_user_session_path, class: "nav-link text-light" do %><i class="fas fa-sign-in-alt"></i>ログイン
                  <% end %>
              </li>
             <% end %>
            </ul>
          </div>
      </div>
  </nav>
  </header>
  <main>
      <%= yield %>
      </main>  
        <footer>
          <div class="container mt-5">
            <div class="row">
              <div class="mx-auto">
                <p>CopyRight Infratop.inc</p>
              </div>
            </div>
          </div>
        </footer>
        </body>
</html>
